@model StudentApp.Models.StudentAdmission

<div>
    <h4>StudentAdmission Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to Student Records", "showAllDetails")
</p>
@if (TempData["result1"] != null)
{
    <script type="text/javascript">
                alert("Record Is Inserted Successfully");
    </script>
}
@if (TempData["result2"] != null)
{
    <script type="text/javascript">
                alert("Record Is Updated Successfully");
    </script>
}
@if (TempData["result3"] != null)
{
    <script type="text/javascript">
              alert("Record Is Deleted Successfully");
    </script>
}
